<?xml version="1.0"  encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Mirasvit_Example::example" title="Mirasvit Example" module="Mirasvit_Example" sortOrder="700"
             resource="Mirasvit_Example::example" parent="Magento_Backend::content" />
        <add id="Mirasvit_Example::example_alert" title="Modal Widget Example" module="Mirasvit_Example" sortOrder="10"
             resource="Mirasvit_Example::example_alert" parent="Mirasvit_Example::example" action="example/alert" />
    </menu>
</config>